.header__logo {
  width: 176px;
  height: 52px;
  background-image: url("../../../images/header/header-logo.svg");
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-logo {
    max-width: 142px;
    max-height: 42px;
  }
}