.photo {
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .photo {
    margin-top: 92px;
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo {
    margin-top: 88px;
    max-width: 720px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo {
    max-width: 288px;
  }
}